
.form-modal

  > p
    color: $medium-blue
    font-size: .8em
    margin-bottom: 30px
    primary-type($serif,$light)

  a.inline
    color: $light-blue
    display: inline
    font-style: inherit
    primary-type($serif,$light)

    &:hover
      color: $gold

  label,
  p.label
    font-size: .8em
    letter-spacing: 1px
    margin: 20px 0 2px
    primary-type($sans,$light)
    text-transform: uppercase

  input
    opacity: .6

  label, input
    color: $darkest-blue
    display: block
    padding: 0 0 2px

  input[type="submit"]
    // background-color: $lightest-blue
    background-image: linear-gradient($lightest-blue, $medium-blue);
    border: 1px solid transparent
    border-radius: 2px
    color: $white
    box-shadow: 2px 2px 10px rgba($darkest-blue, .8)
    letter-spacing: 2px
    margin: 30px auto 0
    opacity: 1
    padding: 7px
    primary-type($sans,$light)
    text-transform: uppercase
    width: 100%

    &:hover
      color: $gold
      // background-image: linear-gradient($lightest-blue, $light-blue);
      border: 1px solid $gold
      primary-type($sans,$medium)

    &:active
      background-image: linear-gradient($medium-blue, $lightest-blue)
      border: 1px solid transparent
      color: $white
      primary-type($sans,$medium)

  input, textarea
    border: 1px $darkest-blue solid
    box-sizing: border-box
    color: $dark-blue
    font-size: 1em
    opacity: .6
    padding: 7px
    primary-type($serif,$light)
    transition: all 600ms ease
    width: 100%

    &:focus, &:active
      border-color: $gold
      opacity: 1

    &:visited
      border-color: $light-blue
      opacity: .3

  input[type="radio"],
  label.radio
    display: inline
    width: auto

  input[type="radio"]
    box-shadow: 0px 0px 0px 1px rgba($darkest-blue .8)

  p
    color: $medium-blue
    margin: 20px 0 0
    padding: 0 0 2px

.riskform
  max-width: 500px

.form
  display: inline-block
  max-width: 200px
  vertical-align: top
  width: 45%

.other-contact
  color: $dark-blue
  display: inline-block
  float: right
  margin-top: 20px
  width: 50%

  p
    font-size: 1em
    padding-bottom: 20px
    primary-type($serif,$semi-bold)

  img
    margin-bottom: 50px
    width: 75%


#risk .modal-content
  margin: 0 auto
  width: 40%

.path
  display: none

.toggle
  position: relative

*:focus
  outline: none
