
.form
  display: inline-block
  primary-type($sans,$light)
  vertical-align: top
  width: 45%

  label, input[type="submit"]
    color: $medium-blue
    display: block
    margin: 20px 0 0
    padding: 0 0 2px

  input, textarea
    border: 1px $light-blue solid
    color: $gold
    padding: 7px

.other-contact
  display: inline-block
  float: right
  width: 50%

p
  color: $medium-blue
  margin: 20px 0 0
  padding: 0 0 2px
