
.form-modal

  > p
    color: $medium-blue
    font-size: .8em
    margin-bottom: 30px
    primary-type($serif,$light)

  a.inline
    color: $light-blue
    display: inline
    font-style: inherit
    primary-type($serif,$light)

    &:hover
      color: $gold

  label,
  p.label
    font-size: .8em
    letter-spacing: 1px
    margin: 20px 0 2px
    primary-type($sans,$light)
    text-transform: uppercase

  input
    opacity: .6

  label, input
    color: $darkest-blue
    display: block
    padding: 0 0 2px

  input[type="submit"]
    background-image: linear-gradient($lightest-blue, $medium-blue)
    border: 1px solid transparent
    border-radius: 2px
    color: $white
    box-shadow: 2px 2px 10px rgba($darkest-blue, .8)
    letter-spacing: 2px
    margin: 30px auto 0
    opacity: 1
    padding: 7px
    primary-type($sans,$light)
    text-transform: uppercase
    width: 100%

    &:hover
      color: $gold
      border: 1px solid $gold
      primary-type($sans,$medium)

    &:active
      background-image: linear-gradient($medium-blue, $lightest-blue)
      border: 1px solid transparent
      color: $white
      primary-type($sans,$medium)

  textarea
    min-height: 60px

  input, textarea
    background: repeating-linear-gradient(135deg,rgba($gold,.2),rgba($gold,.2) 4px,rgba($gold,.1) 4px,rgba($gold,.1) 8px)
    border-bottom: 2px solid $white
    border-top: none
    border-left: none
    border-right: none
    box-sizing: border-box
    color: $light-blue
    font-size: 1em
    opacity: 1
    padding: 6px 10px 3px
    primary-type($serif,$light)
    transition: all 600ms ease
    width: 100%

    &:focus, &:active
      background: rgba($gold, .1)
      border-bottom: 2px solid $light-blue
      border-top: none
      border-left: none
      border-right: none
      opacity: 1

    &:visited
      border-color: $light-blue
      opacity: .3

  input[type="radio"],
  label.radio,
  input[type="checkbox"],
  label.check
    display: inline
    margin-top: 10px
    width: auto

  input[type="radio"],
  input[type="checkbox"]
    box-shadow: 0px 0px 0px 1px rgba($darkest-blue .8)

  input[type="checkbox"]
    height: 20px
    width: 20px

  p
    color: $medium-blue
    margin: 20px 0 0
    padding: 0 0 2px

    &.sub
      margin-top: 0
      font-size: 1.15em

.form
  display: inline-block
  margin-top: 40px
  max-width: 200px
  vertical-align: top
  width: 45%

.other-contact
  color: $dark-blue
  display: inline-block
  float: right
  margin-top: 60px
  width: 50%

  p,
  .caddy
    font-size: 1em
    padding-bottom: 20px
    primary-type($serif,$semi-bold)

  img
    margin-bottom: 50px
    width: 75%

#risk .modal-content,
#certificate .modal-content
  margin: 0 auto
  min-width: 500px
  width: 40%

.toggle
  // transition: margin 1000ms ease

*:focus
  outline: none

p.smlabel,
label.smlabel
  color: $medium-blue
  font-size: .6em
  letter-spacing: 3px
  margin-top: 3px
  padding: 0 0 10px 3px
  primary-type($sans,$light)
  text-transform: uppercase

.school_district.hide,
.auto.hide,
.liability.hide,
.property.hide
  height: 0
  margin: 0 24px
  opacity: 0
  overflow: hidden

.school_district
  height: 55px
  margin: 10px 24px
  opacity: 1
  transition: opacity 300ms ease, height 150ms ease

.school_district .smlabel
  font-size: .6em
  letter-spacing: 3px
  margin-top: 3px
  primary-type($sans,$light)
  text-transform: uppercase

.auto.show,
.liability.show,
.property.show
  background: repeating-linear-gradient(135deg,rgba($lightest-blue,.2),rgba($lightest-blue,.2) 4px,rgba($lightest-blue,.1) 4px,rgba($lightest-blue,.1) 8px)
  border-bottom: 2px solid $white
  height: auto
  margin-top: 30px
  opacity: 1
  padding: 20px
  transition: opacity 300ms ease

.show input,
.show textarea
  background: $white
  opacity: .7

  &:focus, &:active
    background: rgba($white, 1)
    border-bottom: 2px solid $light-blue
    border-top: none
    border-left: none
    border-right: none
    opacity: 1



.flex
  align-content: stretch
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start

.flexie

  input, .smlabel
    align-self: flex-start
    display: block

  &.state
    margin: 0 10px

  &.month, &.date
    margin-right: 10px

.month
  min-width: 110px

.date
  min-width: 60px

.zip
  max-width: 60px

select
  margin: 6px 0 10px

  option
    outline: none

label.check
  margin-right: 10px
