
span.label
  color: $white
  font-size: .4em
  left: 60px
  opacity: 1
  position: absolute
  text-transform: uppercase
  top: 7px
  transition: opacity 300ms ease
  primary-type($sans,$bold)
  line-height: 1.1em

  &.multi
    top: 2px

[class^="icon-"], [class*=" icon-"]
  font-size: 2em
  padding: 0 0 40px
  position: relative
  text-decoration: none

li.active
  color: $light-blue
  font-size: 3em

.loc:not(.active)

  .label
    opacity: 0
