
.logo.fade
  display: none
  left: 35px
  position: absolute
  top: 66px
  width: 186px

#intro .logo
  width: 523px
  margin-bottom: 62px
  margin-top: $top-margin - 56px

.poop:target .logo.small
  display: block

a
  color: $lightest-blue
  text-decoration: none
  transition: color 400ms ease
  &:hover
    color: $gold

h1.tagline
  font-size: 1.625em
  margin-bottom: 40px
  primary-type($serif, $bold)
  line-height: 1.154em

h2.subhead
  font-size: 1.375em
  margin-bottom: 40px
  primary-type($serif, $regular)
  font-style: italic
  line-height: 1.636em

p
  &.intro
    font-size: 1.125em
    primary-type($sans, $regular)
    line-height: 1.666em

  &.subhead
    font-size: 1.125em
    margin-bottom: 30px
    primary-type($serif, $regular)
    line-height: 1.666em

h3.headline
  font-size: 1.125em
  letter-spacing: 1px
  margin-bottom: 10px
  primary-type($sans, $regular)
  line-height: 1.333em
  text-transform: uppercase

.three li
  font-size: 1.125em
  primary-type($serif, $bold)
  line-height: 2em

  &.head
    font-size: 1.25em
    letter-spacing: 3px
    margin-bottom: 10px
    primary-type($serif, $bold)
    text-transform: uppercase

ul.reg li
  font-size: 1em
  primary-type($serif, $regular)
  line-height: 2em

.staff
  height: 28vh
  position: relative

  img
    bottom: 0
    filter: grayscale(1)
    position: absolute
    transition: filter 400ms ease

    &:hover
      filter: grayscale(0)

  .evans
    left: 0
    width: 160px

  .mangrum
    left: 55px
    width: 175px

  .robinson
    left: 359px
    width: 135px

  .sager
    left: 168px
    width: 172px

  .hall
    left: 239px
    width: 147px

  .stanley
    left: 286px
    width: 174px

  .sullivan
    left: 132px
    width: 127px

  .greenup
    left: 393px
    width: 161px

  .peace
    left: 452px
    width: 145px

  .bilyeu
    left: 491px
    width: 198px

  .kinard
    left: 573px
    width: 157px

  .montgomery
    left: 597px
    width: 193px

  .keith
    left: 662px
    width: 146px

  .mathis
    left: 689px
    width: 187px

  .stites
    right: 0
    width: 150px
