
.logo
  margin-bottom: 62px
  margin-top: $top-margin - 56px
  width: 523px

a
  color: $lightest-blue
  text-decoration: none
  transition: color 400ms ease
  &:hover
    color: $gold

h1.tagline
  font-size: 1.625em
  primary-type($serif, $bold)
  line-height: 1.154em
  margin-bottom: 40px

h2.subhead
  font-size: 1.375em
  primary-type($serif, $regular)
  font-style: italic
  line-height: 1.636em
  margin-bottom: 40px

p.intro
  font-size: 1.125em
  primary-type($sans, $regular)
  line-height: 1.666em
