
.overlay
  background-color: $darkest
  bottom: 0
  position: fixed
  top: 0
  width: 100vw
  z-index: -2

.background-video
  margin: 0 -11vw
  opacity: .25
  overflow-x: hidden
  position: fixed
  width: 122vw
  z-index: -1

  video
    width: 100%

.wrapper
  display: table
  height: 100vh
  width: 100vw

  .main
    display: table-row
    height: 100%

    aside
      display: table-cell
      padding: $top-margin 30px 0
      min-width: 340px
      width: 340px

    section.body
      display: table-cell
      vertical-align: top
      width: 100%

.grid
  max-width: 930px
  margin-left: 40px

  @media screen and (max-width: 1200px)
  	max-width: 900px

.content
  overflow: hidden
  position: relative

.panes
  transition: .8s
  white-space: nowrap

.pane
  display: inline-block
  vertical-align: top
  white-space: normal

#intro:target ~ .panes
  transform: translateX(0%)

#program:target ~ .panes
  transform: translateX(-100%)

#people:target ~ .panes
  transform: translateX(-200%)
