
body
  position: relative

.overlay
  background-color: $darkest
  bottom: 0
  position: fixed
  top: 0
  width: 100vw
  z-index: -2

.background-video
  margin: 0 -11vw
  opacity: .25
  overflow-x: hidden
  position: fixed
  width: 122vw
  z-index: -1

  video
    width: 100%

.wrapper
  height: 100vh
  width: 100vw

  .main
    height: 100%

    aside
      height: 100vh
      padding: $top-margin 2% 0
      position: fixed
      top: 0
      width: 340px

    section
      padding-left: 340px

.grid
  margin-left: 40px
  max-width: 930px

  @media screen and (max-width: 1200px)
  	max-width: 900px

// .content
//   overflow: hidden
//   position: relative

.panes
  transition: 800ms

.pane
  height: 100vh

#intro:target ~ .panes
  transform: translateY(0%)

#program:target ~ .panes
  transform: translateY(-100vh)

#people:target ~ .panes
  transform: translateY(-200vh)

#foundation:target ~ .panes
  transform: translateY(-300vh)

#perspective:target ~ .panes
  transform: translateY(-400vh)

#faq:target ~ .panes
  transform: translateY(-500vh)

#forms:target ~ .panes
  transform: translateY(-600vh)
