
include _includes/head

  body(data-spy="scroll" data-target="nav" data-offset="0")

    .overlay

    block video
      
      .background-video
        video(autoplay="autoplay" poster="_images/video.jpg" title="Next Generation Underwriters" loop="loop" onended="var v=this;setTimeout(function(){v.play()},300)")
          source(src="_video/leaves.m4v" type="video/mp4")
          source(src="_video/leaves.webm" type="video/webm")
          object(type="application/x-shockwave-flash" data="_video/flashfox.swf" width="1920" height="1080" style="position:relative;")
            param(name="movie" value="_video/flashfox.swf")
            param(name="allowFullScreen" value="true")
            param(name="flashVars" value="autoplay=true&controls=false&fullScreenEnabled=false&posterOnEnd=true&loop=true&poster=_images/video.jpg&src=leaves.m4v")
            embed(src="_video/flashfox.swf" width="1920" height="1080" style="position:relative;" allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash")
            img(alt="Next Generation Underwriters" src="_images/video.jpg" style="position:absolute;left:0;" width="100%" title="Video playback is not supported by your browser")
        script(src="_video/html5ext.js" type="text/javascript")

    .wrapper

      .main

        aside
        
          block sidebar

            include _includes/navigation
          
        section
        
          .grid
                    
            block content
              
              include _includes/panes

        section.forms
        
          .grid
          
            include _includes/resources


//- The core Firebase JS SDK is always required and must be listed first
script(src="/__/firebase/7.15.0/firebase-app.js")
//- TODO: Add SDKs for Firebase products that you want to use
//- https://firebase.google.com/docs/web/setup#available-libraries
script(src="/__/firebase/7.15.0/firebase-analytics.js")
//- Initialize Firebase
script(src="/__/firebase/init.js")

script.
  jQuery(function($){
    $("input[name='phone']").mask("(999) 999-9999");
  });
