
extends layout

block video

  .background-video
    video(autoplay="autoplay" poster="_video/leaves.jpg" title="Next Generation Underwriters" loop="loop" onended="var v=this;setTimeout(function(){v.play()},300)")
      source(src="_video/leaves.m4v" type="video/mp4")
      source(src="_video/leaves.webm" type="video/webm")
      object(type="application/x-shockwave-flash" data="_video/flashfox.swf" width="1920" height="1080" style="position:relative;")
        param(name="movie" value="_video/flashfox.swf")
        param(name="allowFullScreen" value="true")
        param(name="flashVars" value="autoplay=true&controls=false&fullScreenEnabled=false&posterOnEnd=true&loop=true&poster=_video/leaves.jpg&src=leaves.m4v")
        embed(src="_video/flashfox.swf" width="1920" height="1080" style="position:relative;" allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash")
        img(alt="Next Generation Underwriters" src="_video/leaves.jpg" style="position:absolute;left:0;" width="100%" title="Video playback is not supported by your browser")
    script(src="_video/html5ext.js" type="text/javascript")

block content

  .content
  
    s#intro
    s#program
    s#people
    s#pane-four
    s#pane-five
    s#pane-six
    s#pane-seven
  
    .panes
    
      .pane

        img.logo.large(src='_images/logo.svg' alt='Next Generation Underwriters white logo')
        
        h1.tagline We&rsquo;re here as your hedge of protection, 
          br.full 
          | at your service when you need us most.
          
        h2.subhead Whether it&rsquo;s for a local government, a public school system, a utility district and many other public entities, NGU excels in customizing risk transfer programs specifically designed to meet each client&lsquo;s individual needs.
        
        p.intro We offer solutions that simply aren&lsquo;t available anywhere else for the price we can offer them. We know this because 
          a(href='/faq')
            | our clients tell us
          |. We are confident the service we provide to our customers is simply unmatched in the industry. As a certified agency partner with the 
          a(href='http://www.tnrmt.com/' rel='nofollow' target='_blank')
            | Tennessee Risk Management Trust 
          | (TNRMT), we serve government and public entities to provide a full array of innovative risk management solutions. 

      .pane

        img.logo.large(src='_images/logo.svg' alt='Next Generation Underwriters white logo')
        
        h1.tagline poop
        
block sidebar

  include _includes/navigation
