
include _includes/head

  body(data-spy="scroll" data-target="nav" data-offset="0")

    .overlay

    block video  

    .wrapper

      .main

        aside
        
          block sidebar
          
        section
        
          .grid
        
            block content
