
include _includes/head

  .overlay

  block video

  body

    .wrapper

      .main

        aside
        
          block sidebar
          
        section.body
        
          .grid
        
            block content

    include _includes/footer
