
include _includes/head

  .overlay

  block video

  body.scrollspy(data-spy="scroll" data-target="#scroll-spy")

    .wrapper

      .main

        aside
        
          block sidebar
          
        section
        
          .grid
        
            block content

    include _includes/footer
