
nav

  a.icon-acorn(href='/') 
  
    span.label.multi A Tradition of 
      br
      | Strength &amp; Trust

  a.icon-leaf(href='/') 
    
    span.label Our Program

  a.icon-knife(href='/') 
    
    span.label Our People

  a.icon-compass(href='/') 
    
    span.label Our Foundation

  a.icon-telescope(href='/') 

    span.label Our Perspective

  a.icon-sign(href='/') 
  
    span.label.multi Frequently 
      br
      | Asked Questions

  a.icon-boat(href='/') 
    
    span.label Forms
