.content

  .panes

    .pane#intro

      img.logo.large(src='_images/logo.svg' alt='Next Generation Underwriters white logo')

      h1.tagline We&rsquo;re here as your hedge of protection, 
        br.full
        | at your service when you need us most.

      h2.subhead Whether it&rsquo;s for a local government, a public school system, a utility district and many other public entities, NGU excels in customizing risk transfer programs specifically designed to meet each client&lsquo;s individual needs.

      p.intro We offer solutions that simply aren&lsquo;t available anywhere else for the price we can offer them. We know this because 
        a(href='/faq')
          | our clients tell us
        |. We are confident the service we provide to our customers is simply unmatched in the industry. As a certified agency partner with the 
        a(href='http://www.tnrmt.com/' rel='nofollow' target='_blank')
          | Tennessee Risk Management Trust 
        | (TNRMT), we serve government and public entities to provide a full array of innovative risk management solutions.

    .pane#program
      
      h3.headline As a certified agency partner with the Tennessee Risk Management Trust (TNRMT), NGU serves government and public entities to provide a full array of innovative risk management solutions.

      p.subhead The types of entities we work with on a day-to-day basis are:
      
      .flex
      
        .three
          ul
            li County &amp; City School Systems
            li Housing Authorities
            li Highway Departments
          
        .three
          ul
            li County &amp; City School Systems
            li Housing Authorities
            li Highway Departments
                  
        .three
          ul
            li County &amp; City School Systems
            li Housing Authorities
            li Highway Departments
            
      h3.headline The following is a list of the policies we most commonly place. 
      
      p.subhead Other coverages and markets are available should you have an exposure that is not addressed here. 
      
      .flex
        
        .three
          ul.reg
            li.head Property
            li Inland Marine
            li Boiler &amp; Machinery
            li Crime/Employee Dishonesty
            li Auto Physical Damage
            li Flood
            li Builders Risk
      
        .three
          ul.reg
            li.head Liability
            li Workers Compensation
            li Employers Liability
            li General Liability
            li Auto Liability
            li Errors &amp; Omissions
            li Directors &amp; Officers
            li Employee Practices Liability
      
        .three
          ul.reg
            li.head Specialty Lines
            li Aircraft and Airport Liability
            li Pollution Liability
            li Student Accident
            li Surety Bonds
            li Public Official Bonds
            li Cyber Liability
            li School Board Legal Liability
      
    .pane#people
      
      h3.headline Our employees are a family who care for one another and for our customers. Each one of our people is dedicated to serving the risk management needs of our customers and treating them with the care they deserve.

      .staff
        
        img.evans(src='_images/john-evans.png' alt='John Evans')
        img.mangrum(src='_images/paul-mangrum.png' alt='Paul Mangrum')
        img.sager(src='_images/mark-sager.png' alt='Mark Sager')
        img.robinson(src='_images/donna-robinson.png' alt='Donna Robinson')
        img.stanley(src='_images/tom-stanley.png' alt='Tom Stanley')
        img.hall(src='_images/jennifer-hall.png' alt='Jennifer Hall')
        img.sullivan(src='_images/betsey-sullivan.png' alt='Betsey Sullivan')

    .pane#foundation
      
      h1.tagline soop

    .pane#perspective
      
      h1.tagline soop

    .pane#faq
      
      h1.tagline soop

    .pane#forms
      
      h1.tagline soop
