
.form-modal

  include mixins.jade

  p Use this form to request a Certificate of Insurance (COI) on your policy. All fields are required unless otherwise noted.

  .coiform(name="coiform" method="post" action="send_coiform_email.php")

    label(for="entity_name") Entity Name
    input(type="text" name="entity_name")

    label(for="agent") Agent *
    input(type="text" name="agent")
    p.smlabel *Not Required

    p.label Entity is a(n)...
    input(type='radio' name="entity_type" value="school_district")
    label.radio(name="school_district" for="school_district") School District
    br
    input(type='radio' name="entity_type" value="other_district")
    label.radio(name="other_district" for="other_district") Other Governmental Entity
    
    +Radios("COI Type Requested", "coi_type", "auto", "liability", "property", [{
      }])
      
    .auto.hide
    
      p.sub Auto Certificate Details
    
      label(for="payee_holder") Loss Payee / Certificate Holder
      input(type="text" name="payee_holder")

      label(for="payee_holder_address") Loss Payee / Certificate Holder Address
      input(type="text" name="payee_holder_address_street")
      p.smlabel Street Address
      
      input(type="text" name="payee_holder_address_street_2")
      p.smlabel Suite / Floor / ICO / etc.
      
      div.flex
      
        .flexie.city
          input(type="text" name="payee_holder_address_city")
          p.smlabel City
          
        .flexie.state: +SelectBox('State', [
            {name: 'AK', value: 'AK'},
            {name: 'AL', value: 'AL'},
            {name: 'AR', value: 'AR'},
            {name: 'AZ', value: 'AZ'},
            {name: 'CA', value: 'CA'},
            {name: 'CO', value: 'CO'},
            {name: 'CT', value: 'CT'},
            {name: 'DE', value: 'DE'},
            {name: 'FL', value: 'FL'},
            {name: 'GA', value: 'GA'},
            {name: 'HI', value: 'HI'},
            {name: 'IA', value: 'IA'},
            {name: 'ID', value: 'ID'},
            {name: 'IL', value: 'IL'},
            {name: 'IN', value: 'IN'},
            {name: 'KS', value: 'KS'},
            {name: 'KY', value: 'KY'},
            {name: 'LA', value: 'LA'},
            {name: 'MA', value: 'MA'},
            {name: 'MD', value: 'MD'},
            {name: 'ME', value: 'ME'},
            {name: 'MI', value: 'MI'},
            {name: 'MN', value: 'MN'},
            {name: 'MO', value: 'MO'},
            {name: 'MS', value: 'MS'},
            {name: 'MT', value: 'MT'},
            {name: 'NC', value: 'NC'},
            {name: 'ND', value: 'ND'},
            {name: 'NE', value: 'NE'},
            {name: 'NH', value: 'NH'},
            {name: 'NJ', value: 'NJ'},
            {name: 'NM', value: 'NM'},
            {name: 'NV', value: 'NV'},
            {name: 'NY', value: 'NY'},
            {name: 'OH', value: 'OH'},
            {name: 'OK', value: 'OK'},
            {name: 'OR', value: 'OR'},
            {name: 'PA', value: 'PA'},
            {name: 'RI', value: 'RI'},
            {name: 'SC', value: 'SC'},
            {name: 'SD', value: 'SD'},
            {name: 'TN', value: 'TN'},
            {name: 'TX', value: 'TX'},
            {name: 'UT', value: 'UT'},
            {name: 'VA', value: 'VA'},
            {name: 'VT', value: 'VT'},
            {name: 'WA', value: 'WA'},
            {name: 'WI', value: 'WI'},
            {name: 'WV', value: 'WV'},
            {name: 'WY', value: 'WY'}
          ])
          p.smlabel State
          
        .flexie.zip
          input#zip(type="text" name="payee_holder_address_zip" maxlength="5" pattern="[0-9]*")
          p.smlabel Zip

      label(for="vehicle_year") Vehicle Year
      input(type="text" name="vehicle_year")
      p.smlabel ex. 2013

      label(for="vehicle_make") Vehicle Make
      input(type="text" name="vehicle_make")
      p.smlabel ex. Toyota

      label(for="vehicle_model") Vehicle Model
      input(type="text" name="vehicle_model")
      p.smlabel ex. Prius

      label(for="vin") Vehicle Identification Number
      input(type="text" name="vin")
      p.smlabel ex. 1HGCM82633A004352
  
    .liability.hide
    
      p.sub Liability Certificate Details
    
      label(for="holder") Certificate Holder
      input(type="text" name="holder")

      label(for="holder_address") Certificate Holder Address
      input(type="text" name="holder_address_street")
      p.smlabel Street Address
      
      input(type="text" name="holder_address_street_2")
      p.smlabel Suite / Floor / ICO / etc.
      
      div.flex
      
        .flexie.city
          input(type="text" name="holder_address_city")
          p.smlabel City
          
        .flexie.state: +SelectBox('State', [
            {name: 'AK', value: 'AK'},
            {name: 'AL', value: 'AL'},
            {name: 'AR', value: 'AR'},
            {name: 'AZ', value: 'AZ'},
            {name: 'CA', value: 'CA'},
            {name: 'CO', value: 'CO'},
            {name: 'CT', value: 'CT'},
            {name: 'DE', value: 'DE'},
            {name: 'FL', value: 'FL'},
            {name: 'GA', value: 'GA'},
            {name: 'HI', value: 'HI'},
            {name: 'IA', value: 'IA'},
            {name: 'ID', value: 'ID'},
            {name: 'IL', value: 'IL'},
            {name: 'IN', value: 'IN'},
            {name: 'KS', value: 'KS'},
            {name: 'KY', value: 'KY'},
            {name: 'LA', value: 'LA'},
            {name: 'MA', value: 'MA'},
            {name: 'MD', value: 'MD'},
            {name: 'ME', value: 'ME'},
            {name: 'MI', value: 'MI'},
            {name: 'MN', value: 'MN'},
            {name: 'MO', value: 'MO'},
            {name: 'MS', value: 'MS'},
            {name: 'MT', value: 'MT'},
            {name: 'NC', value: 'NC'},
            {name: 'ND', value: 'ND'},
            {name: 'NE', value: 'NE'},
            {name: 'NH', value: 'NH'},
            {name: 'NJ', value: 'NJ'},
            {name: 'NM', value: 'NM'},
            {name: 'NV', value: 'NV'},
            {name: 'NY', value: 'NY'},
            {name: 'OH', value: 'OH'},
            {name: 'OK', value: 'OK'},
            {name: 'OR', value: 'OR'},
            {name: 'PA', value: 'PA'},
            {name: 'RI', value: 'RI'},
            {name: 'SC', value: 'SC'},
            {name: 'SD', value: 'SD'},
            {name: 'TN', value: 'TN'},
            {name: 'TX', value: 'TX'},
            {name: 'UT', value: 'UT'},
            {name: 'VA', value: 'VA'},
            {name: 'VT', value: 'VT'},
            {name: 'WA', value: 'WA'},
            {name: 'WI', value: 'WI'},
            {name: 'WV', value: 'WV'},
            {name: 'WY', value: 'WY'}
          ])
          p.smlabel State
          
        .flexie.zip
          input#zip(type="text" name="holder_address_zip" maxlength="5" pattern="[0-9]*")
          p.smlabel Zip

      label(for="event_description") Event Description
      textarea(type="text" name="event_description")

      label(for="event_start") Event Start Date

      div.flex

        .flexie.month: +SelectBox('Month', [
            {name: 'January', value: '1'}, 
            {name: 'February', value: '2'}, 
            {name: 'March', value: '3'}, 
            {name: 'April', value: '4'}, 
            {name: 'May', value: '5'},
            {name: 'June', value: '6'},
            {name: 'July', value: '7'},
            {name: 'August', value: '8'},
            {name: 'September', value: '9'},
            {name: 'October', value: '10'},
            {name: 'November', value: '11'},
            {name: 'December', value: '12'}
          ])
        
        .flexie.date: +SelectBox('Date', [
            {name: '1', value: '1'}, 
            {name: '2', value: '2'}, 
            {name: '3', value: '3'}, 
            {name: '4', value: '4'}, 
            {name: '5', value: '5'},
            {name: '6', value: '6'},
            {name: '7', value: '7'},
            {name: '8', value: '8'},
            {name: '9', value: '9'},
            {name: '10', value: '10'},
            {name: '11', value: '11'},
            {name: '12', value: '12'},
            {name: '13', value: '13'}, 
            {name: '14', value: '14'}, 
            {name: '15', value: '15'}, 
            {name: '16', value: '16'}, 
            {name: '17', value: '17'},
            {name: '18', value: '18'},
            {name: '19', value: '19'},
            {name: '20', value: '20'},
            {name: '21', value: '21'},
            {name: '22', value: '22'},
            {name: '23', value: '23'},
            {name: '24', value: '24'},
            {name: '25', value: '25'}, 
            {name: '26', value: '26'}, 
            {name: '27', value: '27'}, 
            {name: '28', value: '28'}, 
            {name: '29', value: '29'},
            {name: '30', value: '30'},
            {name: '31', value: '31'}
          ])
        
        .flexie.year: +SelectBox('Year', [
            {name: '2020', value: '2020'}, 
            {name: '2021', value: '2021'}, 
            {name: '2022', value: '2022'}, 
            {name: '2023', value: '2023'}, 
            {name: '2024', value: '2024'},
            {name: '2025', value: '2025'},
            {name: '2026', value: '2026'},
            {name: '2027', value: '2027'},
            {name: '2028', value: '2028'},
            {name: '2029', value: '2029'},
            {name: '2030', value: '2030'},
            {name: '2031', value: '2031'},
            {name: '2032', value: '2032'},
            {name: '2033', value: '2033'},
            {name: '2034', value: '2034'},
            {name: '2035', value: '2035'}
          ])
      p.smlabel Or First Day of Event
      
      label(for="construction_completion") Last Day of Event*

      div.flex

        .flexie.month: +SelectBox('Month', [
            {name: 'January', value: '1'}, 
            {name: 'February', value: '2'}, 
            {name: 'March', value: '3'}, 
            {name: 'April', value: '4'}, 
            {name: 'May', value: '5'},
            {name: 'June', value: '6'},
            {name: 'July', value: '7'},
            {name: 'August', value: '8'},
            {name: 'September', value: '9'},
            {name: 'October', value: '10'},
            {name: 'November', value: '11'},
            {name: 'December', value: '12'}
          ])
        
        .flexie.date: +SelectBox('Date', [
            {name: '1', value: '1'}, 
            {name: '2', value: '2'}, 
            {name: '3', value: '3'}, 
            {name: '4', value: '4'}, 
            {name: '5', value: '5'},
            {name: '6', value: '6'},
            {name: '7', value: '7'},
            {name: '8', value: '8'},
            {name: '9', value: '9'},
            {name: '10', value: '10'},
            {name: '11', value: '11'},
            {name: '12', value: '12'},
            {name: '13', value: '13'}, 
            {name: '14', value: '14'}, 
            {name: '15', value: '15'}, 
            {name: '16', value: '16'}, 
            {name: '17', value: '17'},
            {name: '18', value: '18'},
            {name: '19', value: '19'},
            {name: '20', value: '20'},
            {name: '21', value: '21'},
            {name: '22', value: '22'},
            {name: '23', value: '23'},
            {name: '24', value: '24'},
            {name: '25', value: '25'}, 
            {name: '26', value: '26'}, 
            {name: '27', value: '27'}, 
            {name: '28', value: '28'}, 
            {name: '29', value: '29'},
            {name: '30', value: '30'},
            {name: '31', value: '31'}
          ])
        
        .flexie.year: +SelectBox('Year', [
            {name: '2020', value: '2020'}, 
            {name: '2021', value: '2021'}, 
            {name: '2022', value: '2022'}, 
            {name: '2023', value: '2023'}, 
            {name: '2024', value: '2024'},
            {name: '2025', value: '2025'},
            {name: '2026', value: '2026'},
            {name: '2027', value: '2027'},
            {name: '2028', value: '2028'},
            {name: '2029', value: '2029'},
            {name: '2030', value: '2030'},
            {name: '2031', value: '2031'},
            {name: '2032', value: '2032'},
            {name: '2033', value: '2033'},
            {name: '2034', value: '2034'},
            {name: '2035', value: '2035'}
          ])        
        
      p.smlabel Only if Event is multiple days

      label(for="additional_insured") Additional Insured*
      input(type="text" name="additional_insured")
      p.smlabel *Not Required
      
      label(for="additional_insured_address") Additional Insured Address*
      input(type="text" name="additional_insured_address")
      p.smlabel Street Address
      
      input(type="text" name="additional_insured_address_2")
      p.smlabel Suite / Floor / ICO / etc.
      
      div.flex
      
        .flexie.city
          input(type="text" name="additional_insured_address_city")
          p.smlabel City
          
        .flexie.state: +SelectBox('State', [
            {name: 'AK', value: 'AK'},
            {name: 'AL', value: 'AL'},
            {name: 'AR', value: 'AR'},
            {name: 'AZ', value: 'AZ'},
            {name: 'CA', value: 'CA'},
            {name: 'CO', value: 'CO'},
            {name: 'CT', value: 'CT'},
            {name: 'DE', value: 'DE'},
            {name: 'FL', value: 'FL'},
            {name: 'GA', value: 'GA'},
            {name: 'HI', value: 'HI'},
            {name: 'IA', value: 'IA'},
            {name: 'ID', value: 'ID'},
            {name: 'IL', value: 'IL'},
            {name: 'IN', value: 'IN'},
            {name: 'KS', value: 'KS'},
            {name: 'KY', value: 'KY'},
            {name: 'LA', value: 'LA'},
            {name: 'MA', value: 'MA'},
            {name: 'MD', value: 'MD'},
            {name: 'ME', value: 'ME'},
            {name: 'MI', value: 'MI'},
            {name: 'MN', value: 'MN'},
            {name: 'MO', value: 'MO'},
            {name: 'MS', value: 'MS'},
            {name: 'MT', value: 'MT'},
            {name: 'NC', value: 'NC'},
            {name: 'ND', value: 'ND'},
            {name: 'NE', value: 'NE'},
            {name: 'NH', value: 'NH'},
            {name: 'NJ', value: 'NJ'},
            {name: 'NM', value: 'NM'},
            {name: 'NV', value: 'NV'},
            {name: 'NY', value: 'NY'},
            {name: 'OH', value: 'OH'},
            {name: 'OK', value: 'OK'},
            {name: 'OR', value: 'OR'},
            {name: 'PA', value: 'PA'},
            {name: 'RI', value: 'RI'},
            {name: 'SC', value: 'SC'},
            {name: 'SD', value: 'SD'},
            {name: 'TN', value: 'TN'},
            {name: 'TX', value: 'TX'},
            {name: 'UT', value: 'UT'},
            {name: 'VA', value: 'VA'},
            {name: 'VT', value: 'VT'},
            {name: 'WA', value: 'WA'},
            {name: 'WI', value: 'WI'},
            {name: 'WV', value: 'WV'},
            {name: 'WY', value: 'WY'}
          ])
          p.smlabel State
          
        .flexie.zip
          input#zip(type="text" name="additional_insured_address_zip" maxlength="5" pattern="[0-9]*")
          p.smlabel Zip

    .property.hide

      p.sub Property Certificate Details

      label(for="property_description") Property Description
      textarea(type="text" name="property_description")
      p.smlabel ex Football Field at High School
      
      label(for="property_address") Property Address
      input(type="text" name="property_address")
      p.smlabel Street Address
      
      input(type="text" name="property_address_2")
      p.smlabel Suite / Floor / ICO / etc.
      
      div.flex
      
        .flexie.city
          input(type="text" name="property_address_city")
          p.smlabel City
          
        .flexie.state: +SelectBox('State', [
            {name: 'AK', value: 'AK'},
            {name: 'AL', value: 'AL'},
            {name: 'AR', value: 'AR'},
            {name: 'AZ', value: 'AZ'},
            {name: 'CA', value: 'CA'},
            {name: 'CO', value: 'CO'},
            {name: 'CT', value: 'CT'},
            {name: 'DE', value: 'DE'},
            {name: 'FL', value: 'FL'},
            {name: 'GA', value: 'GA'},
            {name: 'HI', value: 'HI'},
            {name: 'IA', value: 'IA'},
            {name: 'ID', value: 'ID'},
            {name: 'IL', value: 'IL'},
            {name: 'IN', value: 'IN'},
            {name: 'KS', value: 'KS'},
            {name: 'KY', value: 'KY'},
            {name: 'LA', value: 'LA'},
            {name: 'MA', value: 'MA'},
            {name: 'MD', value: 'MD'},
            {name: 'ME', value: 'ME'},
            {name: 'MI', value: 'MI'},
            {name: 'MN', value: 'MN'},
            {name: 'MO', value: 'MO'},
            {name: 'MS', value: 'MS'},
            {name: 'MT', value: 'MT'},
            {name: 'NC', value: 'NC'},
            {name: 'ND', value: 'ND'},
            {name: 'NE', value: 'NE'},
            {name: 'NH', value: 'NH'},
            {name: 'NJ', value: 'NJ'},
            {name: 'NM', value: 'NM'},
            {name: 'NV', value: 'NV'},
            {name: 'NY', value: 'NY'},
            {name: 'OH', value: 'OH'},
            {name: 'OK', value: 'OK'},
            {name: 'OR', value: 'OR'},
            {name: 'PA', value: 'PA'},
            {name: 'RI', value: 'RI'},
            {name: 'SC', value: 'SC'},
            {name: 'SD', value: 'SD'},
            {name: 'TN', value: 'TN'},
            {name: 'TX', value: 'TX'},
            {name: 'UT', value: 'UT'},
            {name: 'VA', value: 'VA'},
            {name: 'VT', value: 'VT'},
            {name: 'WA', value: 'WA'},
            {name: 'WI', value: 'WI'},
            {name: 'WV', value: 'WV'},
            {name: 'WY', value: 'WY'}
          ])
          p.smlabel State
          
        .flexie.zip
          input#zip(type="text" name="property_address_zip" maxlength="5" pattern="[0-9]*")
          p.smlabel Zip

      label(for="mortgagee") Mortgagee*
      input(type="text" name="mortgagee")
      p.smlabel *Only if the property location has a mortgagee
      
      label(for="mortgagee_address") Mortgagee Address
      input(type="text" name="mortgagee_address")
      p.smlabel Street Address
      
      input(type="text" name="mortgagee_address_2")
      p.smlabel Suite / Floor / ICO / etc.
      
      div.flex
      
        .flexie.city
          input(type="text" name="mortgagee_address_city")
          p.smlabel City
          
        .flexie.state: +SelectBox('State', [
            {name: 'AK', value: 'AK'},
            {name: 'AL', value: 'AL'},
            {name: 'AR', value: 'AR'},
            {name: 'AZ', value: 'AZ'},
            {name: 'CA', value: 'CA'},
            {name: 'CO', value: 'CO'},
            {name: 'CT', value: 'CT'},
            {name: 'DE', value: 'DE'},
            {name: 'FL', value: 'FL'},
            {name: 'GA', value: 'GA'},
            {name: 'HI', value: 'HI'},
            {name: 'IA', value: 'IA'},
            {name: 'ID', value: 'ID'},
            {name: 'IL', value: 'IL'},
            {name: 'IN', value: 'IN'},
            {name: 'KS', value: 'KS'},
            {name: 'KY', value: 'KY'},
            {name: 'LA', value: 'LA'},
            {name: 'MA', value: 'MA'},
            {name: 'MD', value: 'MD'},
            {name: 'ME', value: 'ME'},
            {name: 'MI', value: 'MI'},
            {name: 'MN', value: 'MN'},
            {name: 'MO', value: 'MO'},
            {name: 'MS', value: 'MS'},
            {name: 'MT', value: 'MT'},
            {name: 'NC', value: 'NC'},
            {name: 'ND', value: 'ND'},
            {name: 'NE', value: 'NE'},
            {name: 'NH', value: 'NH'},
            {name: 'NJ', value: 'NJ'},
            {name: 'NM', value: 'NM'},
            {name: 'NV', value: 'NV'},
            {name: 'NY', value: 'NY'},
            {name: 'OH', value: 'OH'},
            {name: 'OK', value: 'OK'},
            {name: 'OR', value: 'OR'},
            {name: 'PA', value: 'PA'},
            {name: 'RI', value: 'RI'},
            {name: 'SC', value: 'SC'},
            {name: 'SD', value: 'SD'},
            {name: 'TN', value: 'TN'},
            {name: 'TX', value: 'TX'},
            {name: 'UT', value: 'UT'},
            {name: 'VA', value: 'VA'},
            {name: 'VT', value: 'VT'},
            {name: 'WA', value: 'WA'},
            {name: 'WI', value: 'WI'},
            {name: 'WV', value: 'WV'},
            {name: 'WY', value: 'WY'}
          ])
          p.smlabel State
          
        .flexie.zip
          input#zip(type="text" name="mortgagee_address_zip" maxlength="5" pattern="[0-9]*")
          p.smlabel Zip      

      label(for="payee") Loss Payee
      input(type="text" name="payee")
      
      label(for="payee_address") Mortgagee Address
      input(type="text" name="payee_address")
      p.smlabel Street Address
      
      input(type="text" name="payee_address_2")
      p.smlabel Suite / Floor / ICO / etc.
      
      div.flex
      
        .flexie.city
          input(type="text" name="payee_address_city")
          p.smlabel City
          
        .flexie.state: +SelectBox('State', [
            {name: 'AK', value: 'AK'},
            {name: 'AL', value: 'AL'},
            {name: 'AR', value: 'AR'},
            {name: 'AZ', value: 'AZ'},
            {name: 'CA', value: 'CA'},
            {name: 'CO', value: 'CO'},
            {name: 'CT', value: 'CT'},
            {name: 'DE', value: 'DE'},
            {name: 'FL', value: 'FL'},
            {name: 'GA', value: 'GA'},
            {name: 'HI', value: 'HI'},
            {name: 'IA', value: 'IA'},
            {name: 'ID', value: 'ID'},
            {name: 'IL', value: 'IL'},
            {name: 'IN', value: 'IN'},
            {name: 'KS', value: 'KS'},
            {name: 'KY', value: 'KY'},
            {name: 'LA', value: 'LA'},
            {name: 'MA', value: 'MA'},
            {name: 'MD', value: 'MD'},
            {name: 'ME', value: 'ME'},
            {name: 'MI', value: 'MI'},
            {name: 'MN', value: 'MN'},
            {name: 'MO', value: 'MO'},
            {name: 'MS', value: 'MS'},
            {name: 'MT', value: 'MT'},
            {name: 'NC', value: 'NC'},
            {name: 'ND', value: 'ND'},
            {name: 'NE', value: 'NE'},
            {name: 'NH', value: 'NH'},
            {name: 'NJ', value: 'NJ'},
            {name: 'NM', value: 'NM'},
            {name: 'NV', value: 'NV'},
            {name: 'NY', value: 'NY'},
            {name: 'OH', value: 'OH'},
            {name: 'OK', value: 'OK'},
            {name: 'OR', value: 'OR'},
            {name: 'PA', value: 'PA'},
            {name: 'RI', value: 'RI'},
            {name: 'SC', value: 'SC'},
            {name: 'SD', value: 'SD'},
            {name: 'TN', value: 'TN'},
            {name: 'TX', value: 'TX'},
            {name: 'UT', value: 'UT'},
            {name: 'VA', value: 'VA'},
            {name: 'VT', value: 'VT'},
            {name: 'WA', value: 'WA'},
            {name: 'WI', value: 'WI'},
            {name: 'WV', value: 'WV'},
            {name: 'WY', value: 'WY'}
          ])
          p.smlabel State
          
        .flexie.zip
          input#zip(type="text" name="payee_address_zip" maxlength="5" pattern="[0-9]*")
          p.smlabel Zip      
            
      
      
      
      
      
      
      
      
    
    
script.
  $(document).ready(function(){
    $('input[type="radio"]').click(function(){
      var inputValue = $(this).attr("value");
      var targetBox = $("." + inputValue);
      $(".auto").not(targetBox).addClass("hide");
      $(".auto").not(targetBox).removeClass("show");
      $(".liability").not(targetBox).addClass("hide");
      $(".liability").not(targetBox).removeClass("show");
      $(".property").not(targetBox).addClass("hide");
      $(".property").not(targetBox).removeClass("show");
      $(targetBox).addClass("show");
      $(targetBox).removeClass("hide");
    });
  });
